
*{
    padding: unset;
}
app-card-component{
    width: 50%;
}

ion-content{
    --padding-top: 30px;
}

#maindiv{
}

#circles{

    .circle{
        width: 100px;
        position: absolute;
        height: 100px;
        border-radius: 50%;
    }

    .circle1{
        background-color: var(--myOrange);
        top:-10%;
        left: -5%;
    }


}

#titleflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

#teamplan{
    --background-color:rgba(0,0,0,0);
    --color:var(--myPurple);
    text-align: center;
    justify-self: center;
}

#logout{
    --color: white;
    --background:var(--myOrange);
    --border-radius:10px;
    width: 70px;
    height: 30px;
    font-size: 0.7em;
}

#Projects{

    display: flex;
    gap:5px;
    overflow-x: auto;

    width: 100%;
    height: fit-content;
    margin-top: 20px;

    #addproj{
        background-color: var(--myWhite);
        color: black;
        padding: 5px 10px;
        align-self: center;
        border-radius: 5px;

    }

    h2{
         color: black;
         font-size: 1em;
    }
}



#Cards{
    // display: flex;
    // flex-wrap: wrap;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;

    width: 100%;
    height: fit-content;
    max-height: 300px;
}

#Projects::-webkit-scrollbar {
    height: 3px;
  }

#Cards::-webkit-scrollbar{
      width: 3px;
      height: 3px;
  }

#Cards::-webkit-scrollbar-track , #Projects::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
#Cards::-webkit-scrollbar-thumb , #Projects::-webkit-scrollbar-thumb {
    background: #888; 
  }

#addbutton{
    --border-radius:6px;
    align-self: center;
    margin:auto;
    cursor: pointer;
    // width: 100;
}

.underlined{
    border-bottom: 3px solid var(--myOrange);
}

ion-footer{
    margin-top: 5px;
    #mainfooter{
        background-color:var(--myPurple);
        border-radius: 10px;
        display: grid;
        gap:10px;
        padding: 20px 15px 30px 15px;
        

        position:fixed;
        width: 100%;
        bottom:0;
    }

    #members{
        display: flex;
        gap: 10px;
    }


    .member{
        display: grid;
        justify-items: left;
        gap:3px;

        width: 30px;
        overflow-x: hidden;

        span{
            font-size: 0.6em;
        }

        .icon{
            width: 30px;
            height: 30px;
            border-radius: 20%;
        }

        .addicon{
            width: 30px;
            height: 30px;
            border-radius: 20%;
            background-color: var(--myWhite);
            color: black;
            
            display: grid;
            justify-content: center;
            align-items: center;

            span{
                font-size: 20px;
            }
        }
        .memBlue{
            background-color: var(--myBlue);
        }
        .memGreen{
            background-color: var(--myGreen);;
        }

        .memRed{
            background-color: var(--myRed);;
        }
        .memYellow{
            background-color: var(--myYellow);;
        }
    }

}





