
*{
    padding: unset;
}
app-card-component{
    width: 50%;
}

#maindiv{
    display: grid;
    height: 100%;
    grid-auto-rows: auto;

}

#PageTitle{

    width: 100%;
    height: fit-content;
    margin-left: 20px;
    margin-top: 20px;


    h2{
        color: red;
        font-size: 2em;
        height: 1px;
        
    }



}

#Projects{

    display: flex;
    gap:20px;
    overflow-x: auto;

    width: 100%;
    height: fit-content;
    margin-left: 20px;
    margin-top: 20px;

    h2{
         color: black;
    }
}

#Cards{
    display: flex;
    overflow-y: auto;
    flex-wrap: wrap;
}

#Members{
    background-color: var(--color5);
    width: 100%;
    // height: ;
    
    border-radius: 20px 20px 0px 0px;
}

.underlined{
    border-bottom: 3px solid var(--color7)
}






