
<div id="maindiv">
  <section id="PageTitle">

    <h1>Team Plan</h1>
    <div id="circle"></div>
  </section>


  <section id="Cards">
    <app-card-component [taskTitle] = "title" [taskContent] = "content"></app-card-component>
    <app-card-component [taskTitle] = "title" [taskContent] = "content"></app-card-component>
    <app-card-component [taskTitle] = "title" [taskContent] = "content"></app-card-component>
    <app-card-component [taskTitle] = "title" [taskContent] = "content"></app-card-component>
  </section>

</div>