
<ion-app>


  
  <ion-content>

    <div id="circles">
      <div class="circle circle1"></div>
    </div>

    <div id="titleflex">
      <ion-item lines="none" id="teamplan">
        <h1>TeamPlan</h1>
      </ion-item>

      <ion-item lines="none" id="teamplan">
        <ion-button id="logout" (click)="logOut()">Log out</ion-button>
      </ion-item>
    </div>

    <div id="maindiv">

    <ion-item lines="none" id="ProjectsItem">
      <section id="Projects">
        <div id="addproj" class="addicon" (click)="projectPopover()"><span>+</span></div>
        <div *ngFor="let proj of projects">
           <ion-button fill="clear" *ngIf="proj === activeproj" (click)="changeActiveProject(proj)"><h2 class="underlined">{{proj.title}}</h2></ion-button>
           <ion-button  fill="clear" *ngIf="proj != activeproj" (click)="changeActiveProject(proj)"> <h2>{{proj.title}}</h2> </ion-button>
    
        </div>
      </section>
    </ion-item>

  <ion-item lines="none">
    <section id="Cards">
      <app-card-component  *ngFor="let task of tasks" (click)="taskInfoRedirect(task.id)" tappable [task]= "task" [assigned_name] = "getNameFromUsername(task.assigned_username)" [colorIndex]="tasks.indexOf(task)%4"></app-card-component>
      <ion-button *ngIf="isAssignedUser" size="large" color="dark" id="addbutton" (click)="addTaskRedirect()">+</ion-button>
    </section>
  </ion-item>



  <ion-footer>
    <div id="mainfooter">
      <span>Project Members</span>
      <div id="members">
        <div *ngFor="let mem of members" class = "member">
          <div class="icon {{getColor(members.indexOf(mem)%4)}}" ></div>
          <span>{{mem.full_name}}</span>
        </div>
        <div *ngIf="username==activeproj.admin_username && members.length<7" class= "member">
          <div class="addicon" (click)="memberPopover()"><span>+</span></div>
        
        </div>
        
      </div>

    </div>
  </ion-footer>

  </div>

  </ion-content>



</ion-app>
