<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>aaaaaaaaa</ion-title>
  </ion-toolbar>
</ion-header>


<ion-button>Click me</ion-button>
<ion-content>

<form>
  <ion-item>
    <ion-label>Title</ion-label>
    <ion-input position="floating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Title</ion-label>
    <ion-input position="floating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Members</ion-label>
    <ion-select interface="popover">
      <ion-select-option >Hello</ion-select-option>
    </ion-select>
  </ion-item>

</form>
</ion-content>
