<ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons>
        <ion-back-button color="dark">back</ion-back-button>
      </ion-buttons>
      <ion-title ></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <div id="container">

        <h1>Add a new Task</h1>

        <form #taskInfo="ngForm" (ngSubmit)="onSubmit(taskInfo)">

        <ion-item lines="none" class="textfield">
            <ion-label color="light" position="floating" >Title</ion-label>
            <ion-input type="text" ngModel name="Title"></ion-input>
          </ion-item>

          <ion-item lines="none" class="textfield">
            <!-- <ion-label color="light" position="floating" >Assigned To</ion-label> -->
            <ion-select placeholder="Select Member" interface="action-sheet" ngModel name="AssignedTo">
                <ion-select-option value="brown">Brown</ion-select-option>
                <ion-select-option value="blonde">Blonde</ion-select-option>
                <ion-select-option value="black">Black</ion-select-option>
                <ion-select-option value="red">Red</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item lines="none" class="textfield">
            <ion-label color="light" position="stacked" >Due Date</ion-label>
            <ion-input type="date" ngModel name="DueDate"></ion-input>
          </ion-item>

          <ion-item id="desc" class="textfield">
            <ion-label color="light" position="stacked" >Description</ion-label>
            <section id="desc">
                <ion-textarea id="desc" ngModel name="Description"></ion-textarea>
            </section>
          </ion-item>

          <ion-item lines="none">
            <ion-button id="addtask" type="ngSubmit">Add Task</ion-button>
          </ion-item>

          </form>

    </div>

  
  </ion-content>
  