
<ion-app>
  
<ion-content>


  <div id="circles">
    <div class="circle circle1"></div>
    <div class="circle circle2"></div>
    <div class="circle circle3"></div>
  </div>

  <ion-item lines="none" id="welcome">
    <h1>Welcome to TeamPlan</h1>
  </ion-item>

  <form #creds="ngForm" (ngSubmit)="onSubmit(creds)">

    <ion-item class="textfield">
      <ion-label color="light" position="floating" >Username</ion-label>
      <ion-input ngModel name="Username"></ion-input>
    </ion-item>

    <ion-item class="textfield">
      <ion-label color="light" position="floating" >Password</ion-label>
      <ion-input type="password" ngModel name="Password"></ion-input>
    </ion-item>

    <ion-item id="authMessage" *ngIf="showMessage" lines="none">
      <span>Incorrect Username or Password.</span>
    </ion-item>

    <ion-item lines="none">
      <ion-button id="login" type="ngSubmit">Log In</ion-button>
    </ion-item>
  </form>

  <ion-item lines="none" class="acc">
    <div>
      <span>Don't have an account?</span>
      <ion-button (click)="redirectToSignup()" id="register">Sign Up</ion-button>

    </div>

  </ion-item>

</ion-content>

</ion-app>
