ion-card {
    --background: var(--color1) ;
    height: 150px;

    #maindiv{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      
    }

  }

ion-card-title{
    font-weight: bold;
    color:black;
    font-size: 1em;
    margin-bottom: 20px;
}

ion-card-header{
  margin: 0px;
  padding: 10px;

  display: grid;
}

ion-card-content{
  padding:0px;

}

#name{
  --color: black;
  --padding-start:6px;
  border-radius: 5px;
  width: 100%;
  height: 25px;
  display: grid;
  align-items: flex-start;

  overflow:hidden;


  span{
    font-size: 10px;
    height: fit-content;

  }
}

.nameYellow{
  --background : var(--myYellow);
}

.nameBlue{
  --background : var(--myBlue);
}

.nameRed{
  --background : var(--myRed);
}

.nameGreen{
  --background : var(--myGreen);
}

#complete{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
}

#due{
  --color: black;
  width: fit-content;
  font-size: 10px;
  height: fit-content;
  overflow-wrap: normal;


}

#checkbox{
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 2px;

}