<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button color="dark">back</ion-back-button>
    </ion-buttons>
    <ion-title >{{currentTask.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <div id="circles">
    <div class="circle circle1"></div>
  </div>


  <div id="container">

  <div id="maindiv" *ngIf="isCompleted==0">

  <ion-item id="desc" lines="none">
    <p>{{currentTask.description}}</p>
  </ion-item>

  <form #file="ngForm" (ngSubmit)="onSubmit(file)" enctype="multipart/form-data">

    <ion-item lines="none">
      <ion-input class="textfield" ngModel name="link_upload" type="text"></ion-input>
    </ion-item>


    
    <ion-button *ngIf="isAssignedUser" class="uploadbutton" type="ngSubmit">Upload</ion-button>
    <ion-button *ngIf="!isAssignedUser" class="uploadbutton" disabled>Upload</ion-button>

    
  </form>
  </div>

  <div id="completed" *ngIf="isCompleted==1">

    <h1>Task Completed</h1>
    <img src="./../../assets/icon/checkmark.png">
    <span *ngIf="username == currentProjectAdmin" id="link">{{currentTask.link}}</span>

  </div>

  <div id="completed" *ngIf="isCompleted==-1">

    <h1>Task Overdue</h1>
    <img src="./../../assets/icon/overdue.png">

  </div>

  <div id="deletediv">
    <ion-button *ngIf="username == currentProjectAdmin" id="deletebutton" class="uploadbutton" (click)="deleteTask()">Delete</ion-button>
  </div>
</div>

</ion-content>
